<div class="buttons">
    <h1 class="text-center text-3xl">-- Buttons --</h1>
    <section class="demo-section">
        <div class="flex justify-evenly">
            <button class="btn-primary">Primary</button>
            <button disabled class="btn-primary">Primary disabled</button> 
        </div>
    </section>
    <section class="demo-section">
        <div class="flex justify-evenly">
            <button class="btn-secondary">Secondary </button>
            <button disabled class="btn-secondary">Secondary disabled</button> 
        </div>
    </section>
    <section class="demo-section">
        <div class="flex justify-evenly">
            <button class="btn-chevron w-[250px]">
                <span>Chevron</span>
                <img class="chevron-img" src="../../assets/images/chevron.png" alt="">
            </button>
            <button disabled class="btn-chevron w-[250px]">
                <span>Chevron disabled</span>
                <img class="chevron-img" src="../../assets/images/chevron.png" alt="">
            </button>
        </div>
    </section>
    <section class="demo-section"> 
        <div class="flex justify-evenly">
            <button class="btn-tertiary-16">Tertiary 16px</button>
            <button disabled class="btn-tertiary-16">Tertiary disabled 16px</button>
            <button class="btn-tertiary-12">Tertiary 12px</button>
            <button disabled class="btn-tertiary-12">Tertiary disabled 12px</button>
        </div>
    </section>
    <section class="demo-section">
        <div class="flex justify-evenly">
            <button class="btn-chevron-back">
                <img class="chevron-img-back" src="../../assets/images/chevron_back.png" alt="">
                <span>Back</span>
            </button>
            <button disabled class="btn-chevron-back">
                <img class="chevron-img-back" src="../../assets/images/chevron_back.png" alt="">
                <span>Back disabled</span>
            </button>
        </div>
    </section>
</div>