 <div>
   <section class="demo-section bg-indigo-100">
     <div class="flex-evenly p-10">
       <div class="w-[150px]">
         <input id="radio1" class="radio-input" name="test-radio" type="radio">
         <label for="radio1" class="radio-label">Radio</label>
       </div>
       <div class="w-[250px]">
         <input id="radio2" class="radio-input" name="test-radio" type="radio">
         <label for="radio2" class="radio-label">Radio</label>
       </div>
       <div class="w-[300px]">
         <input id="radio3" class="radio-input" name="test-radio" type="radio">
         <label for="radio3" class="radio-label">Radio</label>
       </div>
       <div class="w-[350px]">
         <input id="radio4" class="radio-input" name="test-radio" type="radio">
         <label for="radio4" class="radio-label">Radio</label>
       </div>
     </div>

     <div class="flex-evenly p-10">
       <div class="w-[150px]">
         <input id="radio5" class="radio-input" name="test-radio2" type="radio">
         <label for="radio5" class="radio-label">Radio</label>
       </div>
       <div class="w-[250px]">
         <input id="radio6" class="radio-input" name="test-radio2" type="radio">
         <label for="radio6" class="radio-label">Radio</label>
       </div>
       <div class="w-[300px]">
         <input disabled id="radio7" class="radio-input" name="test-radio2" type="radio">
         <label for="radio7" class="radio-label">Radio</label>
       </div>
       <div class="w-[350px]">
         <input disabled checked id="radio8" class="radio-input" name="test-radio2" type="radio">
         <label for="radio8" class="radio-label">Radio</label>
       </div>
     </div>
   </section>
   <section class="demo-section bg-yellow-100">
     <div class="flex-evenly p-10">
       <div class="w-[150px]">
         <input id="checkbox1" class="checkbox-input" type="checkbox">
         <label for="checkbox1" class="checkbox-label">Checkbox</label>
       </div>
       <div class="w-[150px]">
         <input id="checkbox2" class="checkbox-input" type="checkbox">
         <label for="checkbox2" class="checkbox-label">Checkbox</label>
       </div>
       <div class="w-[150px]">
         <input id="checkbox3" class="checkbox-input" type="checkbox">
         <label for="checkbox3" class="checkbox-label">Checkbox</label>
       </div>
       <div class="w-[150px]">
         <input id="checkbox4" class="checkbox-input" type="checkbox">
         <label for="checkbox4" class="checkbox-label">Checkbox</label>
       </div>
     </div>
     <div class="flex-evenly p-10">
      <div class="w-[150px]">
        <input id="checkbox5" class="checkbox-input" type="checkbox">
        <label for="checkbox5" class="checkbox-label">Checkbox</label>
      </div>
      <div class="w-[150px]">
        <input id="checkbox6" class="checkbox-input" type="checkbox">
        <label for="checkbox6" class="checkbox-label">Checkbox</label>
      </div>
      <div class="w-[150px]">
        <input disabled id="checkbox7" class="checkbox-input" type="checkbox">
        <label for="checkbox7" class="checkbox-label">Checkbox</label>
      </div>
      <div class="w-[150px]">
        <input disabled checked id="checkbox8" class="checkbox-input" type="checkbox">
        <label for="checkbox8" class="checkbox-label">Checkbox</label>
      </div>
    </div>
   </section>
 </div>
