@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {

  // Radio buttons styles
  .radio-label {
    @apply h-[50px] text-custom-black bg-white font-poppins-semibold rounded-[6px] flex items-center px-[15px] py-[13px] cursor-pointer;
  }
  
  .radio-label::after {
    @apply block ml-auto w-[22px] h-[22px] border border-[#BCBCBC] content-[''] rounded-full;
    transform: translateX(6px);
  }

  .radio-input {
    display: none;
  }

  input[type=radio]:checked + label {
    @apply text-white bg-custom-black;
  }

  input[type=radio]:checked + label::after {
    @apply bg-custom-light-green block ml-auto w-[22px] h-[22px] border border-[#BCBCBC] content-[''] rounded-full;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
    background-size: 100% 73%;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeatg ;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
  }

  input[type=radio][disabled] + label {
    @apply cursor-default opacity-50;
  }

  input[type=radio][disabled]:checked + label {
    @apply text-custom-black bg-[#C7C7C7] opacity-50;
  }

  input[type=radio][disabled]:checked + label::after {
    @apply bg-[#707070] opacity-50;
  }

  // Checkbox styles
  .checkbox-input {
    display: none;
  }

  .checkbox-label {
    @apply h-[50px] text-custom-black bg-white font-poppins-semibold rounded-[6px] flex items-center px-[15px] py-[13px] cursor-pointer focus:ring-0 focus:ring-offset-0
  }

  .checkbox-label::after {
    @apply block ml-auto w-[22px] h-[22px] border border-[#BCBCBC] content-[''];
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='rgb(188,188,188)' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    transform: translateX(9px);
  }

  input[type=checkbox]:checked + label::after {
    @apply bg-custom-light-green block ml-auto w-[22px] h-[22px] border border-[#BCBCBC] content-[''];
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    background-size: 100% 100%;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeatg ;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
  }

  input[type=checkbox]:checked + label {
    @apply text-white bg-custom-black;
  }

  input[type=checkbox][disabled] + label {
    @apply cursor-default opacity-50;
  }

  input[type=checkbox][disabled]:checked + label {
    @apply text-custom-black bg-[#C7C7C7] opacity-50;
  }

  input[type=checkbox][disabled]:checked + label::after {
    @apply bg-[#707070] opacity-50;
  }
}